<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Map Page</title>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.36&key={{ api_key }}&callback=initMap" async defer></script>

    <style>
        #map {
            height: 800px;
            width: 800px;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>

    <div id="map"></div>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: {{ zoom }},
                center: new google.maps.LatLng({{ lat }}, {{ lon }}),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                disableDoubleClickZoom: true,
                draggable: false,
                scrollwheel: false,
                panControl: false,
                disableDefaultUI: true,
                styles: [{
                    "stylers": [{
                        "visibility": "{{ visible }}"
                    }]
                }]
            });

            var trafficLayer = new google.maps.TrafficLayer();
            trafficLayer.setMap(map);
        }
    </script>

</body>
</html>